body{
	background-color: AliceBlue;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	
	overflow-x: hidden;
}
h1, h2{
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}
header{
	z-index: 5;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	height: 3rem;
	background-color: Black;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: middle;
}
header>h1{
	border-left: 1rem solid MediumSlateBlue;
	padding-left: 0.5rem;
	height: 100%;
	margin: 0;
	color: AliceBlue;
	font-family: 'Muli', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
footer{
	background-color: Black;
	margin-top: auto;
	height: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
nav{
	margin-left: auto;
}
main{
	margin: 0;
	padding: 3rem 0 0 0;
	flex-basis: 100%;
	flex-grow: 2;
}
content{
	padding-top: 1rem;
	display: block;
	background-color: AliceBlue;
}
section#highlights{
	z-index: 1;
	min-height: calc(100vh - 3rem);
	width: 100%;
	background-color: Black;
	margin: 0;
	margin-bottom: 0rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
div#display{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
a.img_nav_button{
	transition: 0.25s opacity;
	z-index: 3;
	font-size: 5rem;
	font-weight: bold;
	min-height: calc(100vh - 10rem - 5rem);
	width: 5rem;
	color: White;
	opacity: 0.1;
	cursor: pointer;
	display: flex;
	align-items: center;
	user-select: none;
}
a.img_nav_button:hover{
	opacity: 0.5;
}
a.img_nav_button.left{
	margin-right: 0;
}
a.img_nav_button.right{
	margin-left: 0;
}
div#image_reel{
	min-height: calc(100vh - 10rem);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div#viewport{
	min-height: calc(100vh - 10rem - 5rem);
	width: calc(100% - 10rem);
	overflow: hidden;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
div#viewport>figure{
	display: block;
	height: calc(100vh - 10rem - 8rem);
	width: calc(100vw - 12rem);
	transition: 0.15s opacity;
	object-fit: contain;
	position: absolute;
	margin: 0;
	padding: 0;
}
div#viewport>figure>img{
	object-fit: contain;
	margin: 0;
	width: 100%;
	height: calc(100% - 1.5rem);
	margin-left: auto;
	margin-right: auto;
}
div#viewport>figure>figcaption{
	color: AliceBlue;
	font-size: 1rem;
	margin: 0;
	caption-side: bottom;
	text-align: center;
	height: 1.5rem;
}
div#image_selector{
	height: 2rem;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), AliceBlue, AliceBlue, AliceBlue, rgba(255, 255, 255, 0));
	margin: auto 1rem 1rem 1rem;
	padding: 0 1rem 0 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
a.image_selector_button{
	transition: 0.25s border, 0.25s width, 0.25s height, 0.25s margin;
	display: block;
	height: 2rem;
	width: 2rem;
	background-color: MediumSlateBlue;
	border-radius: 50%;
	margin: 0 0.25rem 0 0.25rem;
	cursor: pointer;
}
a.image_selector_button.active{
	border: 0.5rem solid AliceBlue;
	width: 1.75rem;
	height: 1.75rem;
	margin: 0 0.25rem 0 0.25rem;
}
/*regular article*/
article{
	margin: 3rem 5rem 3rem 5rem;
	display: flex;
	flex-direction: column;
}
article>h1{
	border-left: 3rem solid MediumSlateBlue;
	font-size: 3rem;
	line-height: 4rem;
	padding-left: 1rem;
	color: Black;
	margin: 1rem;
}
article>section{
	margin: 1rem;
	display: flex;
	flex-direction: column;
}
article>section>h2{
	font-size: 1.5rem;
	text-indent: 1rem;
	color: MediumSlateBlue;
	margin: 1rem;
}
article>section>p{
	text-indent: 3rem;
	margin: 0.5rem;
}
article>section img{
	object-fit: contain;
	max-width: 80%;
	max-height: 50rem;
	width: 100%;
	height: 100%;
	align-self: center;
}
/*block article*/
article.blocks{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
article.blocks>h1{
	flex-basis: 100%;
}
article.blocks>section{
	border-left: 2rem solid MediumSlateBlue;
	padding-left: 1rem;
	padding-right: 0.5rem;
	flex-basis: 15rem;
	flex-grow: 1;
	margin: 1rem;
}

a{
	color: MediumSlateBlue;
}
a.visited{
	color: MediumSlateBlue;
}

/*Desktop*/
@media only screen and (min-width: 600px){
	header{
		height: 5rem;
		align-items: center;
	}
	header>h1{
		border-left: 3rem solid MediumSlateBlue;
		padding-left: 1rem;
		font-size: 2rem;
	}
	nav{
		margin-right: 3rem;
	}
	nav>a{
		color: AliceBlue;
		border-right: 0.75rem solid MediumSlateBlue;
		padding-right: 0.5rem;
		margin-left: 1rem;
		font-size: 1.5rem;
		font-family: 'Muli', sans-serif;
		transition: 0.25s border-right, 0.25s margin-left, 0.25s margin-right;
		text-decoration: none;
	}
	nav>a:hover{
		border-right: 2.25rem solid MediumSlateBlue;
		margin-left: 0.25rem;
		margin-right: -0.75rem;
	}
	main{
		padding: 5rem 0 0 0;
	}
	section#highlights{
		z-index: 1;
		min-height: calc(100vh - 5rem);
	}
}



.hidden{
	opacity: 0;
}