html{
	padding: 0;
	margin: 0;
}
body{
	background-color: AliceBlue;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.25rem;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	
	overflow-x: hidden;

	color: Black;
}
h1, h2{
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}
header{
	z-index: 5;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	position: fixed;
	height: 3rem;
	background-color: Black;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
header h1{
	border-left: 1rem solid MediumSlateBlue;
	padding-left: 0.5rem;
	height: 100%;
	margin: 0;
	color: AliceBlue;
	font-family: 'Muli', sans-serif;
	font-size: 1.25rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
header>a{
	height: 100%;
	text-decoration: none;
}
nav{
	transition: 0.25s width, 0.25s height;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 3rem;
	width: 3rem;
	z-index: 10;
	background-color: Black;
	align-self: flex-start;
	line-height: 3rem;
}
nav.open{
	height: auto;
	width: auto;
}
nav>a:not(#nav_toggle){
	transition: 0.25s opacity, 0.25s height, 0.25s visibility;
	height: 0rem;
	visibility: hidden;
	opacity: 0;
	font-size: 1.5rem;
	color: AliceBlue;
	padding: 0.5rem 1rem 0.5rem 3rem;
	text-decoration: none;
	border-right: 0.5rem solid MediumSlateBlue;
}
nav.open>a:not(#nav_toggle){
	opacity: 1;
	height: 3rem;
	visibility: visible;
}
nav>a#nav_toggle{
	transition: 0.25s transform;
	align-self: flex-end;
	width: 3rem;
	height: 3rem;
	font-size: 2rem;
	text-align: center;
}
nav.open a#nav_toggle{
	transform: rotate(180deg);
}
footer{
	background-color: Black;
	margin-top: auto;
	height: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
main{
	margin: 0;
	padding: 3rem 0 0 0;
	flex-basis: 100%;
	flex-grow: 2;
}
content{
	padding-top: 1rem;
	display: block;
	background-color: AliceBlue;
}
section#highlights{
	z-index: 1;
	min-height: calc(100vh - 3rem);
	width: 100%;
	background-color: Black;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
div#display{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
a.img_nav_button{
	z-index: 3;
	font-size: 1rem;
	font-weight: bold;
	min-height: calc(100vh - 15rem);
	width: 1rem;
	color: White;
	opacity: 0.25;
	cursor: pointer;
	display: flex;
	align-items: center;
	user-select: none;
}
a.img_nav_button.left{
	margin-right: 0;
}
a.img_nav_button.right{
	margin-left: 0;
}
div#image_reel{
	min-height: calc(100vh - 10rem);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div#viewport{
	min-height: calc(100vh - 15rem);
	width: calc(100% - 2rem);
	overflow: hidden;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
div#viewport>figure{
	height: calc(100vh - 18rem);
	width: calc(100vw - 2rem);
	transition: 0.25s opacity, 0.25s visibility;
	object-fit: contain;
	position: absolute;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div#viewport>figure>img{
	object-fit: contain;
	margin: 0;
	max-width: calc(100vw - 2rem);
	max-height: calc(100% - 1.5rem);
	margin-left: auto;
	margin-right: auto;
}
div#viewport>figure>figcaption{
	color: AliceBlue;
	font-size: 1rem;
	margin: 0;
	caption-side: bottom;
	text-align: center;
	height: 1.5rem;
}
div#image_selector{
	margin: auto 1rem 1rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
a.image_selector_button{
	transition: 0.15s border-width, 0.15s width, 0.15s height, 0.15s margin;
	border: 0 solid AliceBlue;
	display: block;
	height: 1rem;
	width: 1rem;
	background-color: MediumSlateBlue;
	border-radius: 50%;
	margin: 0 0.25rem 0 0.25rem;
	cursor: pointer;
}
a.image_selector_button.active{
	border-width: 0.25rem;
	width: 0.9rem;
	height: 0.9rem;
	margin: 0 0.025rem 0 0.025rem;
}
/*regular article*/
article{
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
}
article h1{
	border-left: 1rem solid MediumSlateBlue;
	font-size: 1.75rem;
	line-height: 2rem;
	padding-left: 0.5rem;
	color: Black;
	margin: 0.5rem;
}
article>section{
	margin: 1rem;
	display: flex;
	flex-direction: column;
}
article>section>h2{
	font-size: 1.5rem;
	color: MediumSlateBlue;
	margin: 1rem;
}
article>section>p{
	text-indent: 3rem;
	margin: 0.5rem;
	margin-bottom: 1rem;
}
/*block article*/
article.blocks{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
article.blocks h1{
	flex-basis: 100%;
}
article.blocks p{
	font-size: 1rem;
}
article.blocks>section{
	border-left: 1rem solid MediumSlateBlue;
	padding-left: 0.25rem;
	padding-right: 0.5rem;
	flex-basis: 15rem;
	flex-grow: 1;
}
article.blocks img{
	width: 5rem;
	height: 5rem;
}

a, a.visited{
	color: MediumSlateBlue;
}
a.project-link, a.project-link.visited{
	transition: 0.25s font-weight;
	color: AliceBlue;
	background-color: MediumSlateBlue;
	text-decoration: none;
	padding: 0.5rem;
	margin: 0.5rem;
	width: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	font-weight: normal;
}
a.project-link:hover, a.project-link.visited:hover{
	font-weight: bold;
}

/*Mini gallery*/
div.mini_gallery{
	object-fit: contain;
	width: 90vw;
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
div.mini_gallery>img{
	height: 7rem;
	max-width: 90vw;
	margin: 1rem;
}

/*iframe*/
iframe.resume{
	display: block;
	border: none;
	outline: none;
	background-color: AliceBlue;
	justify-self: center;
	align-self: center;
	width: calc(100vw - 4rem);
	height: calc(100vh - 10rem);
	margin: 2rem;
}

/*Scrollbar*/
/*
::-webkit-scrollbar {
    width: 0rem;
}
::-webkit-scrollbar-track {
	background: Black;
}
::-webkit-scrollbar-thumb {
	background: MediumSlateBlue;
}
::-webkit-scrollbar-thumb:hover {
	background: MediumSlateBlue;
}
*/

/*Large mobile/tablet*/
@media only screen and (min-width: 600px){
	iframe.resume{
		width: calc(100vw - 4rem);
		height: calc(100vh - 12rem);
	}
	/*
	::-webkit-scrollbar {
		width: 1rem;
	}
	*/
	header{
		height: 5rem;
	}
	header h1{
		border-left: 2rem solid MediumSlateBlue;
		padding-left: 1rem;
		font-size: 1.5rem;
	}
	nav{
		margin-right: 1rem;
		width: auto;
		flex-direction: row;
		align-self: center;
		align-items: center;
		justify-content: center;
		line-height: 1.5rem;
	}
	nav>a:not(#nav_toggle){
		transition: 0.25s border-right, 0.25s margin-left, 0.25s margin-right;
		visibility: visible;
		height: 1.5rem;
		opacity: 1;
		padding: 0;
		color: AliceBlue;
		border-right: 0.375rem solid MediumSlateBlue;
		padding-right: 0.25rem;
		margin-left: 0.5rem;
		font-size: 1rem;
		font-family: 'Muli', sans-serif;
		text-decoration: none;
		display: flex;
		align-items:center;
		justify-content: center;
	}
	nav>a:not(#nav_toggle):hover{
		border-right: 1.125rem solid MediumSlateBlue;
		margin-left: 0.125rem;
		margin-right: -0.375rem;
	}
	a#nav_toggle{
		visibility: hidden;
	}
	article{
		margin: 3rem 5rem 3rem 5rem;
	}
	article h1{
		border-left: 2rem solid MediumSlateBlue;
		font-size: 2rem;
		line-height: 3rem;
		padding-left: 1rem;
		color: Black;
		margin: 1rem;
	}
	main{
		padding: 5rem 0 0 0;
		overflow: hidden;
	}
	section#highlights{
		min-height: calc(100vh - 5rem);
	}
	div#image_selector{
		height: 2rem;
		margin: auto 1rem 1rem 1rem;
		padding: 0 1rem 0 1rem;
	}
	div#viewport{
		width: calc(100% - 10rem);
	}
	div#viewport>figure{
		width: calc(100vw - 12rem);
	}
	div#viewport>figure>img{
		max-width: calc(100vw - 12rem);
	}
	a.img_nav_button{
		transition: 0.25s opacity;
		opacity: 0.1;
		font-size: 5rem;
		width: 5rem;
	}
	a.project-link, a.project-link.visited{
		width: 30rem;
	}
	a.img_nav_button:hover{
		opacity: 0.5;
	}
	a.image_selector_button{
		height: 2rem;
		width: 2rem;
		margin: 0 0.5rem 0 0.5rem;
	}
	a.image_selector_button.active{
		border-width: 0.5rem;
		width: 1.5rem;
		height: 1.5rem;
		margin: 0 0.25rem 0 0.25rem;
	}
	div.mini_gallery>img{
		transition: 0.25s margin;
		height: 15rem;
	}
	div.mini_gallery>img:hover{
		margin: 0.5rem 1rem 1.5rem 1rem;
	}
	article.blocks>section{
		border-left: 2rem solid MediumSlateBlue;
	}
	article.blocks p{
		font-size: 1.25rem;
	}
	article.blocks>section{
		padding-left: 1rem;
	}
}

/*Full desktop*/
@media only screen and (min-width: 850px){
	header h1{
		border-left: 3rem solid MediumSlateBlue;
		font-size: 2rem;
	}
	nav{
		margin-right: 3rem;
	}
	nav>a:not(#nav_toggle){
		border-right: 0.75rem solid MediumSlateBlue;
		height: 2rem;
		font-size: 1.5rem;
		padding-right: 0.5rem;
		margin-left: 1rem;
	}
	nav>a:not(#nav_toggle):hover{
		border-right: 2.25rem solid MediumSlateBlue;
		margin-left: 0.25rem;
		margin-right: -0.75rem;
	}
}

img.clickable:not(.hidden) {
	cursor: pointer;
}

.hidden{
	opacity: 0;
	visibility: hidden;
}